<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>TRACKING_ID</key>
	<string>UA-24471868-20</string>
	<key>CLIENT_ID</key>
	<string>123092769664-sbv0i1h44aistt4s9tck2n4lbbh2a7i8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123092769664-sbv0i1h44aistt4s9tck2n4lbbh2a7i8</string>
	<key>API_KEY</key>
	<string>AIzaSyD0dWxwm1W0nWtL26wj3DiUC4unHTN34bw</string>
	<key>GCM_SENDER_ID</key>
	<string>123092769664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>testcompany.com-yukoga-ganalytics</string>
	<key>PROJECT_ID</key>
	<string>yukoga-analytics-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>yukoga-analytics-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:123092769664:ios:c505ce473529edd0</string>
	<key>DATABASE_URL</key>
	<string>https://yukoga-analytics-sample.firebaseio.com</string>
</dict>
</plist>
